@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

.container {
    margin-left: 156px;
    margin-right: 156px;
}

.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-width{
    width: 510px;
}

.header-img {
    width: 426px;
}

.img-align {
    text-align: right;
}

.header-title {
    font-family: 'Yeseva One', cursive;
    color: #333333;
    font-size: 60px;
    line-height: 80px;
    border-left: 3px solid #FF5959;
    padding-left: 6px;
}

.header-title > span {
    color: #FFAD5A;
}

.sub-title{
    font-family: 'Poppins', sans-serif;
}

.header-button{
    width: 172px;
    height: 48px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-radius: 5px;
}

.mission-title {
    font-family: 'Poppins', sans-serif;
    font-size: 48px; 
    line-height: 70px;
    font-weight: 700;
    text-align: center;
    color: #13103A;
}

.mission-title > span {
    color: #FFAD5A;
}
