@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Yeseva+One&display=swap');


*{
    margin: 0;
    padding: 0;
}
.container {
    margin-left: 156px;
    margin-right: 156px;
}

.top-banner, .coding-container, .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.half-width{
    width: 510px;
}

.header-img {
    width: 426px;
}

.img-align {
    text-align: right;
}

.header-title {
    font-family: 'Yeseva One', cursive;
    color: #333333;
    font-size: 60px;
    line-height: 80px;
    border-left: 3px solid #FF5959;
    padding-left: 6px;
    margin-bottom: 15px;
}


.sub-title{
    margin-bottom: 19px;
}

.sub-title, .mission-title, .mission-card, .coding-container, .project-container, .corona-app, .footer-text > p {
    font-family: 'Poppins', sans-serif;
}

.header-button{
    width: 172px;
    height: 48px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background-color: #FF5959;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 33px;
}

.mission-container{
    padding: 60px 0px;
}
.mission-title {
    font-size: 48px; 
    line-height: 70px;
    font-weight: 700;
    text-align: center;
    color: #13103A;
    margin-bottom: 48px;
}

.mission-title > span, .corona-app > h1 >span, .app-text > h1 > span, .header-title > span  {
    color: #FFAD5A;
}

.mission-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mission-card {
    width: 260px;
    height: 320px;
    padding: 25px 35px;
    border-radius: 25px;
}

.mission-card-img {
    width: 126px;
} 

.mission-card-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    margin: 12px 0px;
}

.mission-card-subtitle{
    font-size: 16px;
}

.card-bg-1 {
    background-color: #4F9DA61A;
}

.card-bg-2 {
    background-color: #FF59591A;
}

.card-bg-3 {
    background-color: #FFF4D6;
}

.coding-container {
    margin: 26px 156px 26px 87px;
}

.coding-banner {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 227px;
    margin-left: 69px;
}

.coding-banner-img > img, .project-banner-img > img {
    width: 400px;
}

.coding-banner-text {
    width: 535px;
}

.coding-banner-text > h2 {
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
}

.coding-banner-text > p {
    font-size: 18px;
    line-height: 30px;
    color: #3E3E3E;
    padding: 17px 0px;
}

.coding-banner-text > button {
    width: 243px;
    padding: 14px;
    margin: 5px 0px;
    text-align: center;
    color: white;
    border: none;
    background-color: #FF5959;
    border-radius: 5px;
}

.project-container {
    margin: 26px 87px 26px 156px;
}

.project-banner {
    background-image: url("images/shapes/shape-1.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 227px;
    margin-right: 69px;
    margin-top: 105px;
}

.project-banner-img {
    height: 475px;
}

.corona-app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.corona-app > h1 {
    text-align: center;
    line-height: 72px;
}

.corona-app > h1, .app-text > h1 {
    font-size: 48px;
    line-height: 62px;
    font-weight: 700;
}

.app-img{
    padding: 25px;
}

.app-img > img {
    width: 338px;
}

.app-text {
    width: 600px;
}

.app-text > p {
    color: #3E3E3E;
    font-size: 18px;
    line-height: 30px; 
    padding: 15px 0px;
}

.app-text > button {
    width: 157px;
    padding: 14px;
    color: white;
    background-color: #FF5959;
    border: none;
    border-radius: 5px;

}

.footer-section {
    height: 177px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    text-align: center;
}

.footer-text > h1 {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    line-height: 44px;
}

.footer-text > h1 > span {
    color: #FF5959;
}

.footer-text > p {
    padding-top: 24px;
    font-size: 14px;
}